.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}
.text{
    max-width: 400px;
    float: right;
    width: 600px;
    height: 10px;
  
  }
button
{
  border-radius: 8px;
  border: none;
  padding: 15px;
	font-size: 15px;
	border: none;
	position: relative;
	left: 50px;
}
.field{
  width: 500px;
}
.text{
  max-width: 400px;
  float: right;
  width: 600px;
  height: 10px;

}
.checkbox{
  position:relative;
  left: 40px; 
}
.photo{
  max-width: 400px;
  width: 400px;
  height: 40px;
  float: right;
}
